<IfModule mod_rewrite.c>
    RewriteEngine On

    # If request is not already pointing into public/, rewrite internally
    RewriteCond %{REQUEST_URI} !^/exapp/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
